body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hana {
  font-family: "Hanalei Fill", cursive;
}

.super-big {
  font-size: 4em;
  background: linear-gradient(180deg, #dbdbdb, #8b8b8b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000000;
}

/* .title-box {
  background-image: url('./media/images/cave.gif');
} */
.sign-in-meta {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
}
a:link,
a:visited {
  color: #949494;
}
a:hover {
  color: #e0e0e0;
}
